.shashinThumbnailsTable {
    margin: 5px;
}

.shashinThumbnailsTable caption {
    text-align: center;
    margin: 5px;
}

.shashinThumbnailsTable td {
    vertical-align: top;
}

.shashinThumbnailDiv {
    border: thin solid Black;
    background-color: White;
    margin-left: auto;
    margin-right: auto;
}

.shashinThumbnailDiv:hover {
    border-color: Silver;
}

.shashinThumbnailImage {
    padding: 3px; /* this should be half of the "thumbnail div padding" setting */
    border: none;
}

.shashinThumbnailCaption {
    display: block;
    padding: 0px 5px 5px 5px;
    font-size: x-small;
    font-weight: bold;
}

.shashinAlbumCaptionTitle {
    display: block;
    padding: 0px 5px 1px 5px;
    font-size: x-small;
    font-weight: bold;
}

.shashinAlbumCaptionDate {
    display: block;
    padding: 0px 5px 1px 5px;
    font-size: x-small;
}

.shashinAlbumCaptionLocation {
    display: block;
    padding: 0px 5px 5px 5px;
    font-size: x-small;
}

.shashinAlbumCaptionLocation img {
    vertical-align: middle;
    padding-right: 3px;
}

.shashinCaptionExif {
    display: block;
    color: darkgray;
}

.shashinHighslideLinkToOriginalPhoto {
    float: right;
    padding-left: 5px;
}