.shashinPhotoGroups {
}

.shashinThumbnailsTable {
    display: table;
}

.shashinCaption {
    display: table-caption;
    text-align: center;
    margin: 5px;
    width: 100%;
}

.shashinCaptionBottom {
    caption-side: bottom;
}

.shashinTableRow {
    display: table-row;
    clear: both; /* do not change */
}

.shashinTableRowClear {
    display: table-row;
    line-height: 0;
    font-size: 0;
    clear: both; /* do not change */
}

.shashinTableCell {
    display: table-cell;
    padding: 10px;
    position: relative;
    text-align: center;
    /* width and max-width are set dynamically, to make the images responsive */
}

.shashinThumbnailImage {
    max-width: 100%; /* do not change */
    vertical-align: bottom;
    height: auto; /* do not change */
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow:  0 1px 4px rgba(0, 0, 0, 0.2);
    -moz-box-shadow:  0 1px 4px rgba(0, 0, 0, 0.2);
}

/* thank you
   http://stackoverflow.com/questions/13114069/responsive-transparent-css-image-caption-with-graceful-degradation
 */
.shashinThumbnailCaption {
    position: absolute;
    bottom: 0;
    left: 50%; /* do not change - used for centering */
    padding: 10px;
    margin-bottom: 10px; /* needs to match the bottom padding of .shashinTableCell */
    text-align: center;
    font-size: x-small;
    color: #fff;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    pointer-events: none;
    background: rgba(0,0,0,0.7);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#bb000000, endColorstr=#bb000000); /* for IE 8 and below */
}

.shashinThumbnailCaption a,
.shashinThumbnailCaption a:visited,
.shashinThumbnailCaption a:hover,
.shashinThumbnailCaption a:active {
    color: #fff;
    text-decoration: underline;
}

.shashinAlbumCaptionTitle {
    display: block;
    padding: 0 5px 1px 5px;
    font-size: x-small;
    font-weight: bold;
    line-height: 1.4em;
}

.shashinAlbumCaptionDate {
    display: block;
    padding: 0 5px 1px 5px;
    font-size: x-small;
    line-height: 1.4em;
}

.shashinAlbumCaptionLocation {
    display: block;
    padding: 0 5px 5px 5px;
    font-size: x-small;
    line-height: 1.4em;
}

.shashinAlbumCaptionLocation img {
    vertical-align: middle;
    padding-right: 3px;
}

.shashinCaptionExif {
    display: block;
    color: darkgray;
}

.shashinLinkToOriginalPhoto {
    display: inline;
    padding-left: 5px;
    font-size: x-small;
    font-style: italic;
}

.shashinLinkToOriginalPhoto a,
.shashinLinkToOriginalPhoto a:visited,
.shashinLinkToOriginalPhoto a:hover,
.shashinLinkToOriginalPhoto a:active {
    color: #717171;
}

.shashinFancyboxCaptionWrapper {
    display: none;
}

.shashinFancyboxCaption {
    text-align: left;
}

.shashinFancyboxCaptionClose {
    float: right;
}

#fancybox-left, #fancybox-right {
    /* this prevents the navigation overlay from hiding video controls */
    bottom: auto;
    top: 0;
    height: 90%;
}

.shashinPrettyphotoCaptionWrapper {
    display: none;
}

